---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import MobileMenu from '../components/MobileMenu.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  ogUrl: string;
  ogTitle?: string;
  keywords?: string;
  currentPage: string;
}

const { title, description, ogUrl, ogTitle, keywords, currentPage } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogUrl={ogUrl}
  ogTitle={ogTitle}
  keywords={keywords}
>
  <Header currentPage={currentPage} isScrolled={true} />
  <MobileMenu currentPage={currentPage} />

  <div class="page-header"></div>

  <slot />

  <Footer />
</BaseLayout>
